body {
  background: url(../img/brick-background.jpg);
}

img {
  width: 60px;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 6px;

}

h1 {
  margin: auto;
  padding-left: 90px;
  padding-top: 7px;
  font-family: Helvetica;
  font-size: 50px;
  font-weight: bold;
  color: #E2D7D0;
}

h2 {
  font-family: monospace;
  font-size: 50px;
  margin-left: 30px;
  color: #9B5B1C;
}

h3 {
  font-family: monospace;
  font-size: 40px;
  color: #9B5B1C;
}

p {
  color: #332E2A;
  font-family: sans-serif;
  line-height: 30px;
}

ul {
  list-style-type: none;
  margin-top: 25px;
  margin-left: 200px;
}

ol {
  margin-left: 500px;
  font-size: 25px;
}

ol li {
  font-family: monospace;
}

a {
  color: #58554F;
}

a:hover {
  color: #000;
}

ul li a {
  padding-right: 12px;
  color: #fff;
}

li a {
  display: block;
  float: left;
}
 a:active {
   background-color: #000;
    color: #fff;
 }

span {
  font-weight: bold;
}
 .header a:hover {
   background-color: #aaa;
    color: #fff;
 }

.header {
  background-color: #6F4923;
  padding: 20px;
  padding-bottom: 20px;
}

.footer img {
  margin-left: 190px;
  margin-top: 20px;
  margin-bottom: 30px;
}
 .container {
   background-color: #fff;
   padding-top: 30px;
   border: 2px solid #6F4923;
 }

 .panel-title {

 }

.interests {
  text-align: center;
}
