body {
  background-color: lightgray
}

img {
  width: 50px;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 10px;

}

h1 {
  margin: auto;
  padding-left: 90px;
  padding-top: 7px;
  font-family: Helvetica;
  font-size: 50px;
  font-weight: bold;
}

h2 {
  font-family: monospace;
  font-size: 60px;
  font-weight: bold;
  margin-left: 30px;
}

ul {
  list-style-type: none;
  margin-top: 25px;
  margin-left: 200px;
}

a {
  color: #58554F;
}

a:hover {
  color: #000;
}

ul li a {
  padding-right: 12px;
  color: #fff;
}

li a {
  display: block;
  float: left;
}
 a:active {
   background-color: #000;
    color: #fff;
 }

 .header a:hover {
   background-color: #aaa;
    color: #fff;
 }

.header {
  background-color: darkgray;
  padding: 20px;
  margin-bottom: 20px;
}

.footer img {
  margin-left: 190px;
  margin-top: 20px;
  margin-bottom: 30px;
}
 .container {
   background-color: #fff;
 }
